/* Стилизация аккордеона */
.accordion {
    max-width: 730px;
}

.accordion__details {
    margin-bottom: 8px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.accordion__details:last-child {
    margin-bottom: 0;
}

.accordion__details > .accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__details > .accordion__summary {
    list-style: none;
}

.accordion__details > .accordion__summary:after {
    content: url(./image/item_close.png);
    position: absolute;
    right: 32px;
}

.accordion__details[open] > .accordion__summary:after {
    content: url(./image/item_open.png);
    position: absolute;
    right: 32px;
}

.accordion__details[open] > .accordion__summary {
    padding-bottom: 16px;
}

.accordion__summary {
    padding: 24px 0 24px 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    cursor: pointer;
    position: relative;
}

.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.accordion__item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    padding: 0 49px 16px 32px;

}

