.skeleton {
    width: 100%;
    padding: 32px 24px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;

}

.skeleton__wrapper {
    margin-bottom: 24px;
    display: flex;

}

.skeleton__logo {
    width: 64px;
    height: 64px;
    background: #DDE2E5;
    border-radius: 50%;
    margin-right: 16px;
}

.skeleton__group {
    flex-grow: 1;
}

.skeleton__text {
    height: 20px;
    margin-top: 8px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__text_small {
    width: 30%;
}

.skeleton__text_medium {
    width: 50%;
}

.skeleton__text_large {
    width: 100%;
}