.tooltip {
    display: inline-flex;
    position: relative;
}

.tooltip__trigger {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.tooltip__helper {
    padding: 13px 21px 8px;
    background: var(--blue-1);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--grey-2);
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
}

.tooltip__trigger:hover ~ .tooltip__helper, .tooltip__trigger_active {
    display: block;
}

.tooltip__helper:after {
    content: "  ";
    position: absolute;
    border: 14px solid transparent;
    border-top: 6px solid var(--blue-1);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}