.footer {
    height: 383px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black);
    margin-bottom: 32px;
}

.footer__wrapper {
    max-width: 640px;
    padding-top: 64px;
    margin: 0 auto;
}

.footer__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.footer_template {
    background: var(--grey-5);
    align-items: center;
    height: auto;
}

.footer__text {
    text-transform: uppercase;
    color: var(--grey-3);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
    margin: 56px 0;
}

@media screen and (max-width: 375px) {
    .footer {
        display: none;
    }
}