.preview {
    background: var(--background);
    flex-grow: 1;
}

.preview__wrapper {
    padding: 68px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.preview__item {
    box-sizing: border-box;
    text-decoration: none;
    color: initial;
}

@media screen and (max-width: 375px) {
    .preview__wrapper {
        gap: 16px;
        padding: 24px 0 48px;
        justify-content: center;
    }
}
