.preview {
    background: var(--background);
}

.preview__wrapper {
    padding-top: 68px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.preview__item {
    display: inline-block;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.preview__item_lr-padding {
    padding: 0 30px;
}